WebContent/wsdl/ActivateOnlineBankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Customer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Customer" xmlns:intf="http://Customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Customer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="activateOnlineBanking">
    <complexType>
     <sequence>
      <element name="input" type="impl:ActivateOnlineBankInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ActivateOnlineBankInput">
    <sequence>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="ans_sq" nillable="true" type="xsd:string"/>
     <element name="atm_card_no" nillable="true" type="xsd:string"/>
     <element name="atm_pin" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="cnic" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="dob" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="contact" nillable="true" type="xsd:string"/>
     <element name="nationality" nillable="true" type="xsd:string"/>
     <element name="salary" type="xsd:int"/>
     <element name="account_type" nillable="true" type="xsd:string"/>
     <element name="account_status" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="activateOnlineBankingResponse">
    <complexType>
     <sequence>
      <element name="activateOnlineBankingReturn" type="impl:ActivateOnlineBankOutput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ActivateOnlineBankOutput">
    <sequence>
     <element name="response" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="activateOnlineBankingRequest">

      <wsdl:part element="impl:activateOnlineBanking" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="activateOnlineBankingResponse">

      <wsdl:part element="impl:activateOnlineBankingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ActivateOnlineBankService">

      <wsdl:operation name="activateOnlineBanking">

         <wsdl:input message="impl:activateOnlineBankingRequest" name="activateOnlineBankingRequest">

       </wsdl:input>

         <wsdl:output message="impl:activateOnlineBankingResponse" name="activateOnlineBankingResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActivateOnlineBankServiceSoapBinding" type="impl:ActivateOnlineBankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="activateOnlineBanking">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="activateOnlineBankingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="activateOnlineBankingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActivateOnlineBankServiceService">

      <wsdl:port binding="impl:ActivateOnlineBankServiceSoapBinding" name="ActivateOnlineBankService">

         <wsdlsoap:address location="http://localhost:8080/bankingWS/services/ActivateOnlineBankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
