WebContent/wsdl/RemoveEmployeeAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://administrator" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://administrator" xmlns:intf="http://administrator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://administrator" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="removeEmployeeAccountService">
    <complexType>
     <sequence>
      <element name="input" type="impl:RemoveEmployeeAccountInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RemoveEmployeeAccountInput">
    <sequence>
     <element name="eid" type="xsd:int"/>
     <element name="csr_or_at" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="removeEmployeeAccountServiceResponse">
    <complexType>
     <sequence>
      <element name="removeEmployeeAccountServiceReturn" type="impl:RemoveEmployeeAccountOutput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RemoveEmployeeAccountOutput">
    <sequence>
     <element name="response" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeEmployeeAccountServiceResponse">

      <wsdl:part element="impl:removeEmployeeAccountServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeEmployeeAccountServiceRequest">

      <wsdl:part element="impl:removeEmployeeAccountService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RemoveEmployeeAccountService">

      <wsdl:operation name="removeEmployeeAccountService">

         <wsdl:input message="impl:removeEmployeeAccountServiceRequest" name="removeEmployeeAccountServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeEmployeeAccountServiceResponse" name="removeEmployeeAccountServiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RemoveEmployeeAccountServiceSoapBinding" type="impl:RemoveEmployeeAccountService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="removeEmployeeAccountService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeEmployeeAccountServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeEmployeeAccountServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RemoveEmployeeAccountServiceService">

      <wsdl:port binding="impl:RemoveEmployeeAccountServiceSoapBinding" name="RemoveEmployeeAccountService">

         <wsdlsoap:address location="http://localhost:8080/bankingWS/services/RemoveEmployeeAccountService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
