WebContent/wsdl/RenewATMCardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Customer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Customer" xmlns:intf="http://Customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Customer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="renewATMCardService">
    <complexType>
     <sequence>
      <element name="input" type="impl:RenewATMCardInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RenewATMCardInput">
    <sequence>
     <element name="customer_id" type="xsd:int"/>
     <element name="atm_pin" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="renewATMCardServiceResponse">
    <complexType>
     <sequence>
      <element name="renewATMCardServiceReturn" type="impl:RenewATMCardOutput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RenewATMCardOutput">
    <sequence>
     <element name="response" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="renewATMCardServiceRequest">

      <wsdl:part element="impl:renewATMCardService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renewATMCardServiceResponse">

      <wsdl:part element="impl:renewATMCardServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RenewATMCardService">

      <wsdl:operation name="renewATMCardService">

         <wsdl:input message="impl:renewATMCardServiceRequest" name="renewATMCardServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:renewATMCardServiceResponse" name="renewATMCardServiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RenewATMCardServiceSoapBinding" type="impl:RenewATMCardService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="renewATMCardService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renewATMCardServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="renewATMCardServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RenewATMCardServiceService">

      <wsdl:port binding="impl:RenewATMCardServiceSoapBinding" name="RenewATMCardService">

         <wsdlsoap:address location="http://localhost:8080/bankingWS/services/RenewATMCardService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
